[submodule "emacs.d/site-lisp/js2-mode"]
	path = emacs.d/site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/site-lisp/coffee-mode"]
	path = emacs.d/site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/site-lisp/popwin"]
	path = emacs.d/site-lisp/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "emacs.d/site-lisp/yascroll"]
	path = emacs.d/site-lisp/yascroll
	url = https://github.com/m2ym/yascroll-el.git
[submodule "emacs.d/site-lisp/emacs-color-theme-solarized"]
	path = emacs.d/site-lisp/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
