[submodule "emacs.d/site-lisp/js2-mode"]
	path = emacs.d/site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/site-lisp/coffee-mode"]
	path = emacs.d/site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/site-lisp/yascroll"]
	path = emacs.d/site-lisp/yascroll
	url = https://github.com/m2ym/yascroll-el.git
[submodule "emacs.d/site-lisp/expand-region"]
	path = emacs.d/site-lisp/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "emacs.d/site-lisp/highlight-unique-symbol"]
	path = emacs.d/site-lisp/highlight-unique-symbol
	url = git://github.com/hitode909/emacs-highlight-unique-symbol.git
[submodule "emacs.d/site-lisp/git-gutter"]
	path = emacs.d/site-lisp/git-gutter
	url = git://github.com/syohex/emacs-git-gutter.git
